*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    min-height: 350px;
}
#container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    min-height: 400px;
}
#contacts{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    min-width: 250px;
    /* max-width: 350px; */
    border-right: 1px solid gray;
    /* height: 100%; */
}
#search{
    height: 50px;
    padding: 0 15px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}
#groups{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.group-item{
    height: 60px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.group-item:hover{
    background-color: #eee;
}
.item-message{
    padding: 10px;
    flex: 1 1 auto;
    width: 200px;

}
.item-message-name, .item-message-message{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: 25px;
    padding-top: 5px;
}
.item-message-message span{
    color: #0037ff9e;
}
.item-message-name{
    font-weight: bold;
}
.item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}
.item-info-time, .item-info-unread{
    height: 25px;
    text-align: right;
}
.item-info-unread{
    /* color: white;
    background-color: #808080ab; */
    text-align: center;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    margin-right: 0px;
}
.item-info-unread:not(.read){
    color: white;
    background-color: #808080ab;
}
#chat{
    flex:4 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 370px;
    /* height: 100%; */
}
#header{
    height: 50px;
    padding: 0 15px;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
#messages{
    background-image: url(../images/chat.jpg);
    flex: 1 1 auto;
}
#writeMessage{
    height: 50px;
    padding: 10px 15px;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
}
i{
    padding: 0 10px;
    color: gray;
    cursor: pointer;
}
i.fa-check-circle{
    color: #1892d1;
}
i.fa-users,
i.fa-bullhorn{
    color: black;
}
.bold{
    font-weight: bold;
}
.input{
    flex: 1 1 auto;
}
#writeMessage input{
    height: 30px;
    font-size: 16px;
    border: none;
}
#writeMessage input:focus{
    outline: none;
}
#search input{
    padding-left: 15px;
    background-color: #eee;
    height: 30px;
    width: 100%;
    font-size: 16px;
    border: none;
}
#search input:focus{
    outline: 2px solid cornflowerblue;
}
img{
    width: 50px;
    border-radius: 25px;
}